*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.sidebar_element a {
  color: rgb(103, 93, 93);
  text-decoration: none; /* opcional para quitar subrayado */
  align-content: center;
}
a{         
    color: var(--bs-gray-800);
    text-shadow: 20px;
    text-decoration: none;
}
footer a{
    color: var(--bs-gray-400);
    text-shadow: 20px;
    text-decoration: none;
}
main{
    min-height: 65vh;

}

h1{
    text-align: center;
    margin-bottom: 10px;
}

ul{
    padding-right: 2rem;
}

li{
    list-style: none;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

